<div class="col-sm-8 blog-main">
  <h2><%= @blog.title %></h2>

  <nav class="breadcrumb">  
    <%= link_to "Home", root_path, class: 'breadcrumb-item icons' %>
    <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item icons' %>  
    <span class="breadcrumb-item active icons"><%= @blog.title %></span>
  </nav>

  <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog), class: 'show-icons' if logged_in?(:site_admin) %>
  <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'show-icons' if logged_in?(:site_admin) %>


  <p>
    <%= markdown @blog.body %>
  </p>

  <%= render "comments/comment_form" %>

  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>

</div>
