<aside class="col-md-4 blog-sidebar">
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Full-Stack Web Developer with an undergraduate degree in philosophy, and customer service experience. Drawn to web development by my affinity for logic and creative problem solving. I enjoy finding new ways of applying my critical thinking skills to the unique challenges I face as a developer. Passionate about honing my skills and learning new technologies. Pastimes include film, music and board games.</p>
    </div>

    <div class="p-3">
        <h4>Topics</h4>
        <% @side_bar_topics.each do |topic| %>
            <p><%= link_to topic.title, topic_path(topic) %></p>
        <% end %>
    </div>

    <div class="p-3">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled social-links">
            <li><a href="https://github.com/toddster79" target="_blank" rel="noopener noreferrer"><%= fa_icon "github" %></a></li>
            <li><a href="https://twitter.com/Todd_Carlson_42" target="_blank" rel="noopener noreferrer"><%= fa_icon "twitter" %></a></li>
            <li><a href="https://www.youtube.com/channel/UCjgA2sqOayUKJo782zxgcyA" target="_blank" rel="noopener noreferrer"><%= fa_icon "youtube" %></a></li>
            <li><a href="https://www.linkedin.com/in/todd--carlson/" target="_blank" rel="noopener noreferrer"><%= fa_icon "linkedin" %></a></li>
        </ol>
    </div>
</aside>